<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>뉴스검색</h3>
    <div>
        <form action="/pubdata/news/search" method="GET">
            <label for="search">검색어</label>
            <input id="search" type="text" name="keyword">
            <button id="searchBtn" TYPE="button">검색</button>
        </form>
    </div>
    <div>
        <p>검색결과</p>
        <!-- 제목, 뉴스링크, 요약정보, 작성일 -->
        <table>
            <thead>
                <tr>
                    <th>제목</th>
                    <th>링크</th>
                    <th>요약</th>
                    <th>작성일</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <script>
        searchBtn.addEventListener('click', evt=>{
            const keyword = search.value;
            const url = `/pubdata/news/search?keyword=${keyword}`;
            const option = {
                method : 'GET'
                
            };
            fetch(url,option)
                .then(res=>{
                    if(!res.ok){
                        throw new Error('응답오류 발생');
                    }
                    return res.json(); //음답메시지 바디를 읽어서 json포맷 문자열 => js객체로 변환
                })
                .then(res=>{
                    console.log(res.items)
                    res.items.forEach(item=>console.log(item.title))
                    makeHtml(res);
                })
                .catch(error=>console.error('오류:',error));
        });

        function makeHtml(res){
            res.items.forEach(article=>console.log(article.title,article.link,article.pubdata,article.description));
            const $tbody = document.querySelector('tbody');
            let html = '';
            res.items.forEach(article=>{
                html += 
                    `<tr>
                        <td>${article.title}</td>
                        <td><a href='${article.link}'>원문</a></td>
                        <td>${article.description}</td>
                        <td>${article.pubData}</td>
                    </tr>`;
            });
            $tbody.innerHTML = html;
            
        }
    </script>
</body>
</html>